<main>
  <div>
    <%= flash[:notice] %>
  </div>
  <div class="container">
    <div class="row mt-3">
        <%= render 'profile', user: @user ,book: @book %>
      <div class="col-lg-8">
      <h2>Users</h2>
      <table class="table table-striped">
          <thead>
            <tr>
              <th>image</th>
              <th>name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td class="col-lg-2">
                  <% if user.profile_image.attached? %>
                    <%= image_tag user.profile_image, size: "80x80" %>
                  <% else %>
                    <%= image_tag 'no_image', size: "80x80" %>
                  <% end %>
                </td>
                <td class="col-lg-4"><span><%= user.name %></span></td>
                <td class="col-lg-2"><span><%= link_to user_path(user.id) do %>show<% end %></span></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</main>