<main>
  <p id="notice"></p>
    <div class="container px-5 px-sm-0">
    <div class="row">
        <%= render 'layouts/profile', user: @user ,book: @book %>
      <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table">
          <thead>
            <tr>
              <th>image</th>
              <th>name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td class="col-md-3">
                  <% if user.profile_image.attached? %>
                    <%= image_tag user.profile_image, size: "80x80" %>
                  <% else %>
                    <%= image_tag 'no_image', size: "80x80" %>
                  <% end %>
                </td>
                <td class="col-md-3"><span><%= user.name %></span></td>
                <td class="col-md-2"><span><%= link_to user_path(user) do %>Show<% end %></span></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</main>