<main>
  <div>
    <%= flash[:notice] %>
  </div>
  <% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
  <div class="container">
    <div class="row mt-3">
      <div class="col-lg-4">
        <h2 class="w-75 mx-auto">User info</h2>
        <div class="w-75 mx-auto">
         <%= image_tag @user.get_profile_image(100,100) %>
        </div>
        <table class="table w-75 mx-auto">
          <thead>
            <tr>
              <th>name</th>
              <th><%= @user.name %></th>
            </tr>
            <tr>
              <td>Introduction</td>
              <td class="table-borderless"><%= @user.introduction %></td>
            </tr>
          </thead>
        </table>
        <%= link_to edit_user_path , class: 'btn btn-outline-dark w-100 mb-3' do %><i class="fas fa-user-cog "></i><% end %>
        <div class="w-75 mx-auto">
          <%= form_with model: @book do |f| %>
          <h1>New book</h1>
          <label>Title</label>
          <%= f.text_field :title , class: "w-100 mb-3" %>
          <label>Opinion</label>
          <%= f.text_area :body , class: "w-100 mb-3" %>
          <%= f.submit "Create Book",class: 'btn btn-success rounded text-white'%>
          <% end %>
        </div>
      </div>
      <div class="col-lg-8">
        <h2>Books</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th class="book-title">Title</th>
              <th class="book-body">Opinion</th>
            </tr>
          </thead>
          <tbody>
            <% @book_list.each do |book| %>
              <tr>
                <td class="col-lg-1">
                  <%= image_tag book.user.get_profile_image(80,80) %>
                </td>
                <td class="col-lg-2">
                  <%= link_to book_path(book) do %>
                  <span><%= book.title %></span>
                  <% end %></td>
                </td>
                <td class="col-lg-5"><span><%= book.body %></span></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>