<main>
  <p id="notice"></p>
  <div class="container px-5 px-sm-0">
    <% if @book.errors.any? %>
        <h3>
          <%= @book.errors.count %>errors prohibited this obj from being saved:
        </h3>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    <div class="row">
      <%= render 'layouts/profile', user: @user ,book: @book %>
      <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table">
          <thead>
            <tr>
              <th class="col-md-1"></th>
              <th class="col-md-2">Title</th>
              <th class="col-md-5">Opinion</th>
            </tr>
          </thead>
          <tbody>
            <% @books.each do |book| %>
              <tr>
                <td class="col-md-1">
                  <%= link_to image_tag(book.user.get_profile_image(80,80)), user_path(book.user.id) %>
                </td>
                <td class="col-md-2">
                  <%= link_to book_path(book) do %>
                  <span><%= book.title %></span>
                  <% end %>
                </td>
                <td class="col-md-5"><span><%= book.body %></span></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</main>